<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">MEAN AUTH APP</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li class="active" [routerLinkActive]="['active']" ><a [routerLink]="['/home']">HOME</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" ><a [routerLink]="['/dashboard']">DASHBOARD</a></li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" ><a [routerLink]="['/profile']">PROFILE</a></li>


          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" ><a [routerLink]="['/register']">REGISTER</a></li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" ><a [routerLink]="['/login']">LOGIN</a></li>
          <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#" >LOGOUT</a></li>
        </ul>
    </div>
  </nav>